*{
    margin: 0;
    padding: 0;
}

html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.personal-informations {
    padding: 19vh 10% 2% 10%;
    background: #F8F8F8;
}

.name {
    font-size: 5em
}

.experience-container{
    padding: 0 10%
}

.tecnologies-container{
    padding: 0 10%
}

.teconologie{
    grid-row-gap: 30px
}

.tecnologie-image-container {
    border-radius: 50%;
    width: 150px
}
.tecnologie-image {
    width: 150px;
    height: 150px;
}

.projects-container{
    padding: 0 10%;
}

.projects {
    background: purple;
}

.carrousel {
    width: 60%;
}

