<div class="container-fluid personal-informations">
    <div class="photo-and-name d-flex flex-row align-items-center">
        <div class="name-and-office">
            <h1 class="name">Gabriel Luis</h1>
            <h2 class="fs-2">.NET Developer</h2>
        </div>
    </div>
    <div class="description-container my-5">
        <p class="fs-3">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo beatae
            ad fugit dignissimos ex reprehenderit quos quae nemo aliquam cum,
            perspiciatis exercitationem laborum! Voluptas accusantium quae culpa,
            nam fugiat iste! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Eaque eligendi placeat laborum tempora illo quis nihil ea iure
            id a, doloremque quisquam tenetur aliquid
        </p>
    </div>
</div>

<div class="experience-container my-5">
    <h1 class="title fs-1">
        EXPERIENCES
    </h1>
    <p class="experience fs-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo beatae
        ad fugit dignissimos ex reprehenderit quos quae nemo aliquam cum,
        perspiciatis exercitationem laborum! Voluptas accusantium quae culpa,
    </p>
</div>
<div class="tecnologies-container my-5">
    <h1 class="fs-1 my-3">TECLONOGIAS</h1>
    <div class="tecnologies row">
        <div class="teconologie d-flex col-6">
            <div class="tecnologie-image mx-4">
                <img class="tecnologie-image"
                     src="https://th.bing.com/th/id/OIP.AC9frN1qFnn-I2JCycN8fwHaEK?w=301&h=180&c=7&r=0&o=5&pid=1.7"
                     alt="" />
            </div>
            <div class="tecnologie-content">
                <div class="name-and-description">
                    <h3>Lorem ipsum dolor</h3>
                    <p>Read about it in <a href="google.com">TEMPLATE LINK</a></p>
                </div>
            </div>
        </div>
        <div class="teconologie d-flex col-6">
            <div class="tecnologie-image mx-4">
                <img class="tecnologie-image"
                     src="https://th.bing.com/th/id/R.e9986e21e104382acc8ce2af3455de66?rik=kdNHgsdrM6Zmxg&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_331373.png&ehk=%2fJxcEqSBghQvtVkUvwu3b7T%2bDoEkcZSxugGHUxOpgxg%3d&risl=&pid=ImgRaw&r=0"
                     alt="" />
            </div>
            <div class="tecnologie-content">
                <div class="name-and-description">
                    <h3>Lorem ipsum dolor</h3>
                    <p>Read about it in <a href="google.com">TEMPLATE LINK</a></p>
                </div>
            </div>
        </div>
        <div class="teconologie d-flex col-6">
            <div class="tecnologie-image mx-4">
                <img class="tecnologie-image"
                     src="https://th.bing.com/th/id/OIP.AC9frN1qFnn-I2JCycN8fwHaEK?w=301&h=180&c=7&r=0&o=5&pid=1.7"
                     alt="" />
            </div>
            <div class="tecnologie-content">
                <div class="name-and-description">
                    <h3>Lorem ipsum dolor</h3>
                    <p>Read about it in <a href="google.com">TEMPLATE LINK</a></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="projects-container my-5">
    <h1 class="fs-1 my-3">
        PROJECTS
    </h1>
    <div class="projects d-flex justify-content-center">
        <div id="projects-carrousel" class="carousel slide carousel-fade carrousel" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="https://th.bing.com/th/id/OIP.AC9frN1qFnn-I2JCycN8fwHaEK?w=301&h=180&c=7&r=0&o=5&pid=1.7" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://th.bing.com/th/id/OIP.AC9frN1qFnn-I2JCycN8fwHaEK?w=301&h=180&c=7&r=0&o=5&pid=1.7 " class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="https://th.bing.com/th/id/OIP.AC9frN1qFnn-I2JCycN8fwHaEK?w=301&h=180&c=7&r=0&o=5&pid=1.7" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#projects-carrousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#projects-carrousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>

<div class="contacts">
    <p>Caso voce queira estar entrando em contato, pode estar me mandando uma mensagem nas minhas redes socias</p>
    <a href="https://www.google.com">CONTATOS</a>
    <a href="https://www.google.com">CONTATOS</a>
    <a href="https://www.google.com">CONTATOS</a>

    <p>Ou pode estar me enviando um email</p>
    <a href="https://www.google.com">EMAIl</a>
</div>

<div class="projects">
    <div class="project"></div>
</div>