<div class="container personal-informations">
    <div class="photo-and-name d-flex flex-row align-items-center">
        <div class="photo-container">
            <img class="photo img-thumbnail"
                 src="https://th.bing.com/th/id/OIP.KaaPuoL3MiCMsjY3ACnD8gHaHa?pid=ImgDet&rs=1"
                 alt="foto-de-perfil" />
        </div>
        <div class="name">
            <h1>Lorem ipsum dolor sit</h1>
            <h2>.NET Developer</h2>
        </div>
    </div>
    <div class="description">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo beatae
            ad fugit dignissimos ex reprehenderit quos quae nemo aliquam cum,
            perspiciatis exercitationem laborum! Voluptas accusantium quae culpa,
            nam fugiat iste! Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Eaque eligendi placeat laborum tempora illo quis nihil ea iure
            id a, doloremque quisquam tenetur aliquid
        </p>
    </div>
</div>
<div class="tecnologies">
    <div class="teconologie d-flex">
        <div class="tecnologie-image">
            <img class="image img-thumbnail"
                 src="https://th.bing.com/th/id/OIP.AC9frN1qFnn-I2JCycN8fwHaEK?w=301&h=180&c=7&r=0&o=5&pid=1.7"
                 alt="" />
        </div>
        <div class="tecnologie-content">
            <div class="name-and-description">
                <h3>Lorem ipsum dolor</h3>
                <p>Read about it in <a href="google.com">TEMPLATE LINK</a></p>
            </div>
        </div>
    </div>
    <div class="teconologie d-flex">
        <div class="tecnologie-image">
            <img class="image img-thumbnail"
                 src="https://th.bing.com/th/id/OIP.AC9frN1qFnn-I2JCycN8fwHaEK?w=301&h=180&c=7&r=0&o=5&pid=1.7"
                 alt="" />
        </div>
        <div class="tecnologie-content">
            <div class="name-and-description">
                <h3>Lorem ipsum dolor</h3>
                <p>Read about it in <a href="google.com">TEMPLATE LINK</a></p>
            </div>
        </div>
    </div>
    <div class="teconologie d-flex">
        <div class="tecnologie-image">
            <img class="image img-thumbnail"
                 src="https://th.bing.com/th/id/OIP.AC9frN1qFnn-I2JCycN8fwHaEK?w=301&h=180&c=7&r=0&o=5&pid=1.7"
                 alt="" />
        </div>
        <div class="tecnologie-content">
            <div class="name-and-description">
                <h3>Lorem ipsum dolor</h3>
                <p>Read about it in <a href="google.com">TEMPLATE LINK</a></p>
            </div>
        </div>
    </div>
</div>

<div class="projects">
    <div class="project"></div>
</div>